<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" uk-sticky="">
<nav class="uk-navbar-container" uk-navbar="">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <a class="uk-navbar-item uk-logo" href=""><img src="/img/scrap.jpg" width="60" height="60"/></a>
            </li>
            <li>
                <a href="#">circle</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#"></a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">twitter</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right uk-margin-right">
        <div class="uk-button-group">
            <button class="uk-button uk-button-default">Dropdown</button>
            <div class="uk-inline">
                <button class="uk-button uk-button-default" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a class="uk-button-text uk-text-danger" href="/logout" th:text="#{quit.button}"> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>
</body>
</html>
